<div class="col-xs-6">
    <div class="tour-card">
        <img class="card-img rounded-0" src="{{ asset('front/img/home/tour1.png') }}" alt="">
        <div class="tour-card-overlay">
            <div class="media">
                <div class="media-body">
                    <h4>Paris tour offer</h4>
                    <small>5 days offer</small>
                    <p>We proper guided our tourist</p>
                </div>
                <div class="media-price">
                    <h4 class="text-primary"><a>$65/day</a></h4>
                </div>
            </div>
        </div>
    </div>
</div>