{% extends 'front.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('front/scss/restoDon/css/root.css') }}">
    <link rel="stylesheet" href="{{ asset('front/scss/restoDon/css/restoDon.css') }}">
    <link href="https://api.mapbox.com/mapbox-gl-js/v1.9.1/mapbox-gl.css" rel="stylesheet" />
{% endblock %}

{% block body %}

    <input type=hidden id="allResto" name="allResto" value="{{ allRestoJSON }}"/>


    <div id="map" style="height: 70vh; width: auto; ">
        <div id="left" class="sidebar flex-center left collapsed">
            <div class="sidebar-content rounded-rect flex-center">
                <button id="fb">Facebook</button>
                <button id="web">Web</button>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
       var allRestoJSON = document.getElementById("allResto").value;
    </script>
    <script src="https://api.mapbox.com/mapbox-gl-js/v1.9.1/mapbox-gl.js"></script>
    <script src="{{ asset('front/js/RestoDon/mapRestoUser.js') }}"></script>

{% endblock %}