{% extends "base.html.twig" %}

{% block title %}PubBundle:Publicite_country:updateMap{% endblock %}

{% block content %} {# Gooogle API#}
  <div class="row">
    <div class="col-md-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>Other Graph types <small> Assorted graph types</small></h2>
          <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Settings 1</a>
                <a class="dropdown-item" href="#">Settings 2</a>
              </div>
            </li>
            <li><a class="close-link"><i class="fa fa-close"></i></a>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">

          <div class="row">

            <div class="col-md-8 center-margin" style="padding: 30px">
              <p>World Vector Map</p>
              {#ici div de google maps#}

              <div id="regions_div" style="width: 1000px; height: 600px;"></div>
            </div>
          </div>
          <div class="clearfix"></div>



        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block javascript %}
{{ parent() }}

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load('current', {
        'packages':['geochart'],
        // Note: you will need to get a mapsApiKey for your project.
        // See: https://developers.google.com/chart/interactive/docs/basic_load_libs#load-settings
        'mapsApiKey': 'AIzaSyD-9tSrke72PouQMnMX-a7eZSW0jkFMBWY'
    });
    google.charts.setOnLoadCallback(drawRegionsMap);

    function drawRegionsMap() {
        var data = google.visualization.arrayToDataTable([
            ['Pays', 'Nombre de Vu'],
            {% for stat in stats  %}
                ['{{ stat.country_code }}','{{ stat.nbrClick }}'],
              {% endfor %}
        ]);

        var options = {
            minValue: 5,  colors: ['#a3b7d9', '#0081d6']
        };

        var chart = new google.visualization.GeoChart(document.getElementById('regions_div'));

        chart.draw(data, options);
    }
</script>
{% endblock %}