{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block titre %} DoNation - Bienvenu ❤ {% endblock titre %}
{% block fos_user_content %}
    <div class="login-slide slide login-style1">

        <h2> Bienvenu parmis Nous ❤ </h2>
        <br>
        <p>{{ 'registration.check_email'|trans({'%email%': user.email}) }}</p>
        <div class="form-group">
            <button  class="submit" style="height: 40px; letter-spacing: 1px;" ><a href="{{ path('hayt') }}" >à l'acceuil ❤</a></button>
        </div>

    </div>
{% endblock fos_user_content %}