{% extends "front.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('front/scss/cagnotte/css/root.css') }}">
{% endblock %}

{% block body %}

    <form action="charge" id="payment-form" method="post">
        <h2 class="card-title">{{ selected.nom }}</h2>
        <div class="form-group">
            <label for="exampleInputEmail1">Montant à donner:</label>
            <input type="number" class="form-control" id="montant" name="montant"><br>
                <label for="card-element">
                    Credit or Debit Card
                </label>
                <div id="card-element">

                </div>
                <div id="card-errors" class="help-block" role="alert"></div>

            <!-- Used to display Element errors. -->
            <div id="card-errors" role="alert"></div>
        </div>
        <button type="submit" class="btn btn-outline-danger">Valider don</button>
    </form>
{% endblock %}

{% block javascripts %}
    <script src="https://js.stripe.com/v3/"></script>
    <script src="http://www.donation.tn/paymentTest.js"></script>

    <script src="{{ asset('front/js/Cagnotte/payment.js') }}"></script>
{% endblock %}


