{% extends "front.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('front/scss/cagnotte/css/root.css') }}">
{% endblock %}

{% block body %}

    Merci pour votre très généreux don! Un e-mail de confirmation vous a été envoyé.

    <br><br><button class="btn btn-outline-danger" onclick="location.href='{{ url('cagnotte_homepage') }}'">Retourner à l'acceuil</button>
{% endblock %}