{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block titre %} DoNation - Récuperation Mot de passe {% endblock titre %}
{% block fos_user_content %}
    <div class="login-slide slide login-style1">

        <h2> Merci ❤❤❤ </h2>
        <br>
        <p>
            {{ 'resetting.check_email'|trans({'%tokenLifetime%': tokenLifetime})|nl2br }}
        </p>

        <div class="form-group">
            <button  class="submit" style="height: 40px; letter-spacing: 1px;" ><a href="{{ path('homepage') }}" >à l'acceuil ❤</a></button>
        </div>

    </div>
{% endblock fos_user_content %}