 :root
{
    --title-color: #2a2a2a;
--text-color: #888888;
--primary-color: #6059f6;
--cagnotte-color: #ff586d;
--aide-color: #feae06;
--emploi-color: #c500b0;
--restoDon-color: #79eeac;
--restOrg-color: #5988fd;
}