.pub-small
{
    background: var(--first-color) ;
    position: fixed;
    bottom: 40vh;
    top: 15vh;
    orientation: portrait;
    width: 8.5%;   
    height: 18%;
    z-idex: 500;
    display: inline-flex;
    right: 0;
    left: unset;
    margin-top: 0vh;
    margin-bottom: 20vh;
    overflow: auto;
    justify-content: center;

    p
    {
        position:relative;
        color: white; 
        font-size: 20px; 
        margin-top: 40%;
    }
}

.pub-sticky
{
    background: var(--first-color);
    position: sticky;
    bottom: 0;
    top: auto;
    orientation: portrait;
    z-idex: 1;
    display: inline-flex;
    width: 8.5%;   
    height: 100%;
    min-height: 100vh;
    right: 0%;
    left: 100%;
    margin-top: 20vh;
    margin-bottom: 0vh;
    justify-content: center;
        
        p
        {
            position:relative;
            color: white; 
            font-size: 20px; 
            margin-top: 120%;
        }
}

