#map {
  width: 100vh;
  height: 70vh;
  visibility: visible;
  position: center;


}
.mapboxgl-popup {
  max-width: 200px;
}

.rounded-rect {
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 50px -25px black;
}

.flex-center {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-center.left {
  left: 0px;
}

.flex-center.right {
  right: 0px;
}

.sidebar-content {
  position: absolute;
  width: 95%;
  height: 95%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 32px;
  color: gray;
}

.sidbear-toggle {
  position: absolute;
  width: 1.3em;
  height: 1.3em;
  overflow: visible;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidbear-toggle.left {
  right: -1.5em;
}

.sidbear-toggle.right {
  left: -1.5em;
}

.sidbear-toggle:hover {
  color: #0aa1cf;
  cursor: pointer;
}

.sidebar {
  transition: transform 1s;
  z-index: 1;
  width: 30vw;
  height: 100%;
}

/*
The sidebar styling has them "expanded" by default, we use CSS transforms to push them offscreen
The toggleSidebar() function removes this class from the element in order to expand it.
*/
.left.collapsed {
  transform: translateX(-400px);
}

.right.collapsed {
  transform: translateX(295px);
}


.fb{
  background-color: #43609C;
  color: white;
  padding: 8px 8px 8px 8px;
  border-radius: 3px;
  margin-right: 6px;
}

.web{
  background-color: #9b5c60;
  color: white;
  padding: 8px 8px 8px 8px;
  border-radius: 3px;
}